{% extends "layout.html" %}

{% block title %}
    :Register
{% endblock %}

{% block main %}
    <div>
        <h1 class="main_instructions">Pick up a book</h1>
    </div>

    <div style="position:absolute;right:50%;top:26%;transform: translate(50%, 0%);">
        <img src="/static/b1.png" alt="book1" class="books">
        <img src="/static/b2.png" alt="book2" class="books">
        <img src="/static/b3.png" alt="book3" class="books">
        <img src="/static/b4.png" alt="book4" class="books">
        <img src="/static/b5.png" alt="book5" class="books">
        <img src="/static/b6.png" alt="book6" class="books">
        <a href="/bookpage_front"><img src="/static/b7.png" alt="book7" class="books"></a>
        <img src="/static/b8.png" alt="book8" class="books">
        <img src="/static/b9.png" alt="book9" class="books">
        <img src="/static/b10.png" alt="book10" class="books">
        <img src="/static/b11.png" alt="book11" class="books">
        <img src="/static/b12.png" alt="book12" class="books">
        <img src="/static/b13.png" alt="book13" class="books">
        <img src="/static/b14.png" alt="book14" class="books">
        <img src="/static/b15.png" alt="book15" class="books">
    </div>

    <img src="/static/board.png" alt="board" style="width:50%;position:absolute;right:50%;top:50%;transform: translate(50%, -50%);">
    <img src="/static/flowerpot.png" alt="flowerpot" style="width:15%;position:absolute;right:10%;top:45%;">
{% endblock %}