{% extends "layout.html" %}

{% block title %}
    :Card Front
{% endblock %}

{% block main %}
    <img src="/static/studytable.png" alt="studytable" style="width:80%;position:absolute;right:6%;bottom:12%;">
    <div class="card" >
        <p style="text-align:right;color:#4F7D57;">Card number: EL 0000 0000</p>
        <form action="/card_front" method="post" style="text-align:center;">
            <textarea id="txt_comments" name="txt_comments" rows="18" cols="120"></textarea>
            <button class="button1" type="submit">Save and flip card</button>
        </form>
    </div>
{% endblock %}