{% extends "layout_hands.html" %}

{% block title %}
    My Space
{% endblock %}

{% block main %}
<img src="/static/hand_holding.png" alt="hand_holding" style="width:10%;position:absolute;left:50%;top:40%;transform: translate(-53%, 0%);">
<div style="margin:0px 150px;position:absolute;top:30%;">
    <div class="row" style="height:350px;width:1650px;" >
            <div class="col-sm-6" style="padding:10px 150px;">
                <div style="background-color:white;border: 2px solid #4F7D57;height:300px;">
                    <div class="row" style="padding:15px 20px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:255px;">
                            <iframe width="410" height="250" src="https://www.youtube.com/embed/0uyN3X5k_7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding:10px 150px;">
                <div style="background-color:white;border: 2px solid #4F7D57;height:300px;">
                    <div class="row" style="padding:15px 20px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:255px;">
                            <iframe width="410" height="250" src="https://www.youtube.com/embed/4UNHkqgflig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}