{% extends "layout_rainy.html" %}

{% block title %}
    :Rainy Room
{% endblock %}

{% block main %}
    <div style="margin:0px 300px;position:absolute;top:30%;">
        <div class="row" style="height:250px;" >
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/0uyN3X5k_7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/4UNHkqgflig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/NJ5Y8JToOn0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:250px;" >
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/eHUymIJoKEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/xSe-B5siXPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding:5px 80px;">
                <div style="background-color:white;border: 1px solid #4F7D57;height:150px;">
                    <div class="row" style="padding:7px 18px;">
                        <div class="col-2"></div>
                        <div class="col-10" style="border: 1px dotted #4F7D57;height:128px;">
                            <iframe width="215" height="125" src="https://www.youtube.com/embed/a1IjCuBOEnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/static/footprint_left.png" alt="footprint_left" style="width:5%;position:absolute;left:40%;bottom:5%;">
    <img src="/static/footprint_right.png" alt="footprint_right" style="width:6%;position:absolute;right:40%;bottom:5%;">
{% endblock %}